body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.8rem;
}

header {
  background: linear-gradient(90deg, #0052D4, #4364F7, #6FB1FC);
  color: white;
}

.card-title {
  font-weight: 600;
}

.list-group-item {
  font-size: 1.1rem;
}

.btn-primary {
  background-color: #0052D4;
  border-color: #0052D4;
}

.btn-primary:hover {
  background-color: #4364F7;
  border-color: #4364F7;
}

/* Nuevos estilos para las imágenes de las tarjetas */
.card-img-top {
  width: 100%;
  height: 200px; /* Ajusta el alto a tu gusto */
  object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
}
/* Contenedor del carrusel para limitar el ancho */
.carousel {
  width: 100%;
  margin: 0 auto; /* Centrado horizontal */
}

/* Estilos para las imágenes dentro del carrusel */
.carousel .carousel-item img {
  width: 50%; /* Ocupa todo el ancho del carrusel */
  height: calc(100vw * 0.4); /* Calcula el alto como el 60% del 80% del ancho */
  object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
  display: block;
}
